.promo {
    box-sizing: border-box;
    min-height: 524px;
    background: #272727;
    max-width: 1200px;
    padding-top: 184px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.promo__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.16;

    /* or 116% */
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;

    max-width: 730px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .promo {
        min-height: 784px;
        background-position-y: 224px;
        padding-top: 326px;
    }
}

@media screen and (max-width: 700px) {
    .promo {
        min-width: 292px;
        min-height: 570px;
        /* background-position-y: 142px; */
        background-size: 248px 248px;
        padding-top: 207px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .promo__title {
        font-size: 31px;
        line-height: 1.26;
        max-width: 300px;
    }
}
