.account {
    display: flex;
    align-items: center;
    border-color: #0c0c0c;
    border-radius: 40px;
    box-shadow: 0 0 1px 1px;
}

.account__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-left: 5px;

    color: #000000;

    margin-right: 17px;
    text-decoration: none;
}

.account__link_selected {
    text-decoration: underline;
}

.account__icon {
    margin-right: 5px;
    height: 30px;
    width: 26px;
    border-radius: 50px;
    border-color: #F5F5F5;
    border-style: hidden;
    

    background-size: 14px 12px;
    background: #F5F5F5 url(../../images/icon-account.svg) no-repeat center;
}
