.search-form {
    background: #ffffff;
    text-align: left;
}

.search-form__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;

    padding: 70px 70px 49px;

    text-align: left;
}

.search-form__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-form__input {
    height: 34px;
    width: 100%;
    background: transparent;

    text-align: left;
    outline: none;
    border: none;

    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin-left: 5px;
    margin-top: 7px;

    /* identical to box height */

    color: #000000;
}

.search-form__submit-btn {
    margin-top: 7px;
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border: none;
    background-image: url(../../images/find-arrow.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    /* border-radius: 34px; */
    cursor: pointer;
    background-color: #3456F3;
    border-radius: 50px;
}

.search-form__fieldset {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    border-radius: 20px;
    border-color: #E8E8E8;
    border-bottom: 1px solid #E8E8E8;

    padding: 0 0 15px;
}

.search-form__fieldset:last-of-type {
    border: none;
    padding: 0;
    margin: 0;
    width: 250px;
}

.search-form__span {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .search-form__container {
        padding: 70px 30px 49px;
    }
}

@media screen and (max-width: 768px) {
    .search-form__container {
        padding: 70px 14px 49px;
    }
    .search-form__img {
        display: none;
    }
    .search-form__input {
        text-align: left;
    }
    .search-form__form {
        width: 100%;
        display: block;
    }
    .search-form__fieldset:last-of-type {
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 57px;
    }
    .search-form__fieldset {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    
        border-radius: 20px;
        border-color: #E8E8E8;
        border-bottom: 1px solid #E8E8E8;
    
        padding: 0 0 15px;
    }
}
