.nav-tab {
    min-height: 70px;
    max-width: 1200px;
    background: #272727;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
}



.nav-tab__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    width: 96px;
    height: 36px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #303030;
    border-radius: 10px;
    /* padding-top: 14px; */
    margin-right: 14px;
}

.nav-tab__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .nav-tab {
        min-height: 66px;
        margin-left: 14px;
        margin-right: 14px;
        min-width: 292px;
    }
    .nav-tab__link {
        font-size: 12px;
        line-height: 1.45;
    }
}
@media screen and (max-width: 321px) {
    .nav-tab__link {
        font-size: 10px;
        line-height: 1.45;
        width: 82px;
        height: 26px;
    }
}
